body {
    background-color: bisque;
    text-align: center;
    font-family: arial;
}
h1 {
    border-style: dashed;
    border-color: green;
    text-align: center;
    font-style: italic;
}
span {
    font-weight: bold;
}
p {
    color: seagreen;
    font-family: arial;
    font-size: large;
}
.hidden {
    display: none;
}
 





