.hidden {
    display: none;
} 

p {
    color: seagreen;

}

body {
    background-color: bisque;
    text-align: center;
}

h1 {
    border-style: dashed;
    border-color: green;
    text-align: center;
    font-style: italic;
}

.radio-form {
    display: inline-block;
}
